<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto+Slab:300,400,700|Lato:300,400,700|Roboto:300,400,700" rel="stylesheet">
&nbsp;
<hr />

<a href="http://www.pays-de-la-loire.developpement-durable.gouv.fr/dreal-centre-de-service-de-la-donnee-r1957.html"><center><img src="images/logo_datalab.svg" width="30%"</center> </a>

<p style="text-align: center;"><p>---<p>Direction régionale de l’environnement, de l’aménagement et du logement des Pays de la Loire</p>

<p style="text-align: center;">Service connaissance des territoires et évaluation </p>

<p style="text-align: center;">Division de l'observation, des études et des statistiques</p>

<p style="text-align: center;">5, rue Françoise Giroud - CS16326 - 44263 NANTES Cedex 2 - Tél. 02 72 74 73 00</p>

<p style="text-align: center;">Directrice de la publication : Annick Bonneville</p>

<p style="text-align: center;">ISSN : 2109-0025</p>

<p style="text-align: center;">© DREAL 2021</p>
	
<hr />

