<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto+Slab:300,400,700|Lato:300,400,700|Roboto:300,400,700" rel="stylesheet">

<div class="row"> 

<div class="col-md-3">
<a title="Site de la DREAL" href="http://www.pays-de-la-loire.developpement-durable.gouv.fr">
<img style="margin:15px 0px 0px 0px" src="images/logo_pref_dreal.svg" width="120%">
</a>
</div>

<div class="col-md-3">
<a title="Site de l'ORT" href="http://www.observatoire-transports-pays-de-la-loire.fr/">
<img style="margin:-20px 0px 0px -10px" src="images/ortm.jpg" width="100%">
</a>
</div>
       
<div class="col-md-6">
<p style="font-size:152%;align:left;color:#00bebe;line-height:0pt"><strong>&emsp;</strong></p>
<p style="font-size:152%;align:left;color:#00bebe;line-height:25pt"><strong>Observation, études et statistiques</strong></p>
<p style="font-size:200%;align:right;color:#8246aa;line-height:25pt"><strong>La situation des transports<br>en Pays de la Loire</strong></p>
</div>
</div> 
